In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('aaa.csv')

In [4]:
df

            y         X1         X2
0   24.126333  64.429978  73.262957
1   14.032175  86.477719  48.722114
2   74.633908  20.911415  93.812125
3    4.319545  16.303067  92.669635
4   10.239310  54.501690   6.538555
5   50.083117  22.818848   9.745776
6   33.773234   3.726635  46.861158
7   14.620250  75.434233  67.765187
8    9.614505  52.927497  52.676297
9   11.710387   4.242050  91.332931
10  34.743462  78.378419  99.966765
11  85.931783  60.113015  63.716826
12  36.247314  66.596675  31.153904
13  54.139333  99.616636  58.662087
14  81.031553  21.376046  76.870922
15  71.198782  77.205980  30.534034
16  75.856845  81.199158  32.845724
17  52.240677  28.957628  16.410113
18  28.636742  45.192937  36.157276
19  40.552409  55.248570  24.247120
20  77.248347  67.809520  20.774724
21  28.341675  34.925218  61.549586
22   5.881165  33.995154  93.560508
23  46.388482  22.412798  10.533656
24  91.360093  80.870343  34.866766
25   1.287964  88.080224  78.381969
26   6.303975  30.706246  28.710178
27  53.055702  64.423596   5.016068
28  16.944010   6.478121  85.540684
29  21.614035  73.293819  34.949705
30  41.904651   1.448264  60.361393

In [5]:
corr = df.corr()

In [9]:
corr['y']

y     1.000000
X1    0.152131
X2   -0.256540
Name: y, dtype: float64

In [22]:
f = open('index.php', encoding = 'utf-8')
line = f.readlines()

In [27]:
line

['\n',
 '<html>\n',
 '<head>\n',
 '    <meta charset="utf-8">\n',
 '    <title>欢迎使用phpstudy集成环境</title>\n',
 '</head>\n',
 '\n',
 '\n',
 '<body>\n',
 '\n',
 '\n',
 '<?php\n',
 'echo "Hello"."<br>";\n',
 'echo "<br>";\n',
 '\n',
 '\n',
 '    /**\n',
 '     * 解析CSV文件为数组\n',
 '     * @param $filePath\n',
 '     * @return array\n',
 '     */\n',
 '    function parse_csv($filePath) {\n',
 '\t\t\n',
 "\t\tsetlocale(LC_ALL,'zh_CN');//linux系统下生效\n",
 '\t\t$data = null;//返回的文件数据行\n',
 '\t\tif(!is_file($filePath)&&!file_exists($filePath))\n',
 '\t\t{\n',
 "\t\t\tdie('文件错误');\n",
 '\t\t}\t\t\n',
 '\t\t\n',
 "        $handle = fopen($filePath, 'r');\n",
 '        $out = array();\n',
 '\n',
 '        $n = 0;\n',
 '        while($data = fgetcsv($handle, 10000)) {\n',
 '            $num = count($data);\n',
 '            for($i = 0; $i < $num; $i++) {\n',
 '                $out[$i][$n] = $data[$i]; //按列输出。如需按行输出，改为：$out[$n][$i]\n',
 '            }\n',
 '            $n++;\n',
 '        }\n',
 '        fclose($handle);\n',
 '\n',
 '        return $out;\n',
 '    }\n',
 '\n',
 "$result = parse_csv('I:\\python\\stock\\000001sz.csv');\n",
 '\n',
 'echo "<pre>";\n',
 'print_r($result);\n',
 'echo "====result"."<hr>";\n',
 '\n',
 '\n',
 '$y = $result[0];\n',
 '$X = $result;\n',
 'unset($X[0]);\n',
 '\n',
 'print_r($X);\n',
 'echo "====X"."<hr>";\n',
 'print_r($y);\n',
 'echo "====y"."<hr>";\n',
 '\n',
 '\n',
 'array_unshift($X, null);\n',
 '$X = call_user_func_array("array_map", $X);\n',
 '\n',
 'print_r($X);\n',
 'echo "====X"."<hr>";\n',
 '\n',
 '\n',
 'unset($X[0]);\n',
 'unset($y[0]);\n',
 '\n',
 'print_r($X);\n',
 'echo "====X"."<hr>";\n',
 'print_r($y);\n',
 'echo "====y"."<hr>";\n',
 '\n',
 '\n',
 '\n',
 '\n',
 '\n',
 "require_once __DIR__ . '/vendor/autoload.php';\n",
 '\n',
 'use Phpml\\Classification\\MLPClassifier;\n',
 '\n',
 '$samples = $X;\n',
 '$labels = $y;\n',
 '\n',
 '$mlp = new MLPClassifier(4, [2],0.1);\n',
 '\n',
 '\n',
 'print_r($X[4]);\n',
 'echo "====X[4]"."<hr>";\n',
 'print_r($classifier);\n',
 '\n',
 '\n',
 '\n',
 '?>\n',
 '\n',
 '\n',
 '</body>\n',
 '\n',
 '\n',
 '</html>\n']

In [29]:
line[1] = '<html-1234567890>\n'

In [30]:
line[1]

'<html-1234567890>\n'